html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #44624a;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 2.5rem;
    left: 40px;
}

.title {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title span {
    color: #ffffff;
}

.author {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 5px;
    position: absolute;
    top: 2.5rem;
}

.status-sensor {
    position: absolute;
    top: 1rem;
    height: 5%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    color: white;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.container {
    position: absolute;
    top: 3rem;
    left: 54rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 20px;
    width: 25rem;
    height: 23rem;
    padding: 1.5rem;
    pointer-events: none;
}

.sensor-box {
    background-color: #8ba888;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sensor-box h2,
.sensor-box p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor-box p {
    font-weight: 500;
    font-size: 25px;
}

.button-container {
    align-content: center;
    position: absolute;
    left: 55rem;
    top: 29rem;
    width: 30%;
    height: 30%;
}

.button-wrapper {
    margin-bottom: 20px;
    /* Jarak antar tombol */
    text-align: center;
    /* Agar tombol di tengah */
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: BLACK;
    color: white;
}

.grow-lamp:hover,
.pump:hover {
    background-color: #459843;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 1000px) {
    .header {
        top: 3.5rem;
        left: 8%;
        font-size: 0.9rem;
    }

    .author {
        top: 2.3rem;
        font-size: 0.9rem;
    }

    .container {
        display: grid;
        position: absolute;
        width: 80%;
        height: 38%;
        left: auto;
        top: 8rem;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }

    .status-sensor {
        position: absolute;
        top: 1rem;
        height: 5%;
        width: 25%;
    }

    .sensor-box {
        padding: 10px;
    }

    .sensor-box h2,
    .sensor-box p {
        font-size: 1rem;
    }

    .sensor-box span {
        font-size: 1.5rem;
    }

    .sensor-box h2,
    .sensor-box p {
        font-size: 1.1rem;
    }

    .button-container {
        position: absolute;
        left: auto;
        top: 29rem;
        width: 20rem;
        height: 8rem;
        padding: 0.5rem;
        margin-top: 10px;

    }

    .button-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    button {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin-top: 5px;
    }

    .container {
        height: 30px;
    }

    .sensor-box {
        padding: 10px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        top: 3.5rem;
        left: 8%;
        font-size: 0.9rem;
    }

    .author {
        margin-top: 0;
        font-size: 0.9rem;
        top: 1.7rem;
    }

    .container {
        display: grid;
        position: absolute;
        width: 80%;
        height: 40%;
        left: auto;
        top: 7.5rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .status-sensor {
        position: absolute;
        top: 1rem;
        height: 5%;
        width: 25%;
        margin-top: 3px;
    }

    .sensor-box {
        padding: 10px;
    }

    .sensor-box h2,
    .sensor-box p {
        font-size: 1rem;
    }

    .sensor-box span {
        font-size: 1.5rem;
    }

    .button-container {
        align-content: center;
        position: absolute;
        left: 2rem;
        top: 26.5rem;
        width: 10rem;
        height: 10.5rem;
        padding: 0.5rem;
        margin-top: 10px;
    }

    .button-wrapper {
        margin-bottom: 10px;
        text-align: center;
    }

    button {
        width: 150%;
        padding: 10px;
    }

    .title {
        margin-top: 0;
    }
}